@import "../../base";

.App {
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

#like {
  margin: 8px;
  padding: 5px 9px;
  border: $color-detail 2px solid;
  border-radius: 5px;
  // background: #282c34;
  // box-shadow: 5px 5px 10px #1f2228, -5px -5px 10px #313640;
}

.player {
  &-bg {
    min-width: 300px;
    border: $color-bg 1px solid;
    border-radius: 15px;
    background-color: $color-bg;
    max-width: 310px;

    //neumorphic shadow
    background: $color-bg;
    background: #282c34;
    box-shadow: 13px 13px 47px #17191e, -13px -13px 47px #393f4a;
  }
  &__top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__icon-wrap {
    display: flex;
    flex-direction: column;
    width: 60px;
    max-height: 240px;
    margin-right: 5px;
  }
  &__icon-link {
    margin: 8px;
    padding: 8px auto;
    border: $color-detail 2px solid;
    border-radius: 5px;
    color: $color-detail;
    // background: #282c34;
    // box-shadow: 5px 5px 10px #1f2228, -5px -5px 10px #313640;

    &--active {
      color: $color-desc;
      border: $color-desc 2px solid;
      background: #282c34;
      box-shadow: inset 5px 5px 10px #1f2228, inset -5px -5px 10px #313640;
    }
  }
  &__icon {
    color: inherit;
    font-size: 1.5rem;
    fill: $color-detail;
    cursor: pointer;
  }
  &__info-wrap {
    display: flex;
    flex-direction: column;
    padding: 0.7rem 1rem;
  }
}

.music {
  &__img {
    border-radius: 15px 0px;
    object-fit: cover;
    width: 240px;
    height: 240px;
  }
  &__title {
    font-size: 1.5rem;
    color: $color-title;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__artist {
    font-size: 1rem;
    color: $color-desc;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  &__total-time {
    align-self: flex-end;
    color: $color-detail;
    font-size: 1rem;
  }
  &__current-time {
    color: $color-detail;
    font-size: 1rem;
  }
  &__progress-bar {
    background-color: $color-detail;
    height: 0.5rem;
    border-radius: 10px;
    width: 100%;

    &-current {
      height: 0.5rem;
      width: 10%;
      background-color: $color-title;
      margin-top: -0.5rem;
      border-radius: 10px;
    }
  }
  &__btn-wrap {
    display: flex;
    justify-content: space-evenly;
    margin: 0.2rem 0.5rem;
    padding: 0 3rem;
  }
  &__btn {
    color: $color-desc;
    font-size: 3rem;
    cursor: pointer;
  }
}
